/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Maksukortti/dist/
/laskarit/viikko2/Unicafe/target/
/laskarit/viikko2/Unicafe/nbproject/
/Yliopistobot/target
/Yliopistobot/.clsasspath
/Yliopistobot/.project
/Yliopistobot/.Rhistory
/Yliopistobot/nbactions.xml
/Yliopistobot/nbproject/
/Yliopistobot/bot.conf
